<phpunit
    bootstrap="../../index.php"
    color="true"
    testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="Grid Module Test Suite">
            <directory>./tests/grid</directory>
        </testsuite>
    </testsuites>

    <groups>
        <include>
            <group>grid</group>
        </include>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">./classes</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
    </logging>
</phpunit>
